*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: rgb(47,0,70);
    background: linear-gradient(0deg, rgba(47,0,70,1) 38%, rgba(75,0,109,1) 100%);
    height: 100vh;
}
.title-blog{
    padding: 25px 0;
    color: #FFF;
    text-align: center;
}
#createPostForm{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#titleInput{
    border-radius: 5px;
    width: 220px;
    padding: 10px 10px;
}
#contentInput{
    border-radius: 5px;
    width: 240px;
    padding: 10px 10px;
}
.form-btn{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(219, 0, 200);
}
.box__btn-settings{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.btn-delete{
    padding: 13px 19px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(231, 53, 65);
}
.btn-update{
    padding: 13px 19px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(231, 53, 65);
}
#postsContainer{
    color: #FFF;
    padding: 50px 0 60px 70px;
}
.btn-delete{

}